<div class="center jumbotron">
  <h1><%= t(".welcome") %></h1>

  <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="grid_4">
  <h2><%= t(".open") %></h2>
  <ul class="shed">
    <li><span><%= t(".brf") %></span> <%= t(".t1") %></li>
    <li><span><%= t(".gm") %></span> <%= t(".t2") %></li>
    <li><span><%= t(".lm") %></span> <%= t(".t3") %></li>
  </ul>
</div>
