<% provide :title, t(".signup") %>
<h1><%= t ".title" %></h1>

<div class="row">
  <div class="socials">
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-google-plus"></a>
  </div>

  <h2 class="or"> <%= t ".or" %> </h2>
  
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: signup_path do |f| %>
      <%= render "shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: t(".fullname") %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: t(".email") %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: t(".password") %>

      <%= f.label :password_confirmation, t(".confirm") %>
      <%= f.password_field :password_confirmation, class: "form-control", 
        placeholder: t(".confirm") %>

      <%= f.submit t(".create"), class: "btn btn-primary" %>
    <% end %>
    <p><%= t(".already") %> <%= link_to t(".login"), login_path %></p>
  </div>
</div>
