<%= render "shared/errors_orders_messages", obj: @order %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @order do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :address %>
        <%= f.text_area :address %>

        <%= f.label :pay_type %>
        <%= f.select :pay_type, Order.pay_types.keys, 
        prompt: t(".select") %>

        <%= f.submit @order.new_record? ? t(".create") : t(".update"),
          class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
