<h2 class="title"><%= t ".list" %></h2>

<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="th1"><%= t ".name" %></th>
        <th class="th2"><%= t ".detail" %></th>
        <th class="th2"><%= t ".total" %></th>
        <th class="th2"><%= t ".stt" %></th>
        <th class="th2"><%= t ".func" %></th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <td data-th="order">
          <div class="row">
            <div class="col-sm-10">
            <h4 class="nomargin"><%= order.name %></h4>
            </div>
          </div>
          </td>
          <td data-th="order">
          <div class="row">
            <div class="col-sm-10">
            <h4 class="nomargin">
              <%= link_to t(".detail"), order_path order %></h4>
            </div>
          </div>
          </td>
          <td data-th="order">
          <div class="row">
            <div class="col-sm-10">
            <h4 class="nomargin"><%= number_to_currency total_cost(order),
              unit: "VNÄ", separator: ".", delimiter: ",",
              precision: 0, format: "%n %u" %></h4>
            </div>
          </div>
          </td>
          <td data-th="order">
          <div class="row">
            <div class="col-sm-10">
            <h4 class="nomargin">
              <%= form_for order, method: :patch, remote: true do |f| %>
                <%= f.select :status, Order.statuses.keys, 
                  prompt: order.status %>
                <%= f.submit t(".update"), class: "btn btn-xs btn-primary" %>
              <% end %>
            </h4>
            </div>
          </div>
          </td>
          <td class="actions" data-th="">
            <%= link_to order, remote: true, method: :delete, 
              data: {confirm: t(".are")}, 
              class: "btn btn-danger btn-sm" do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
