<div class="container" id="item_list">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="th1"><%= t ".pro" %></th>
        <th class="th2"><%= t ".price" %></th>
        <th class="th3"><%= t ".quantity" %></th>
        <th class="th4"><%= t ".sub" %></th>
        <th class="th2"></th>
      </tr>
    </thead>
    <tbody>
    <% items.each do |item| %>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs">
              <%= image_tag item.product.image_url, 
                class: "img-responsive", alt: "" %>
            </div>
            <div class="col-sm-10">
              <h4 class="nomargin"><%= item.product.title %></h4>
              <p><%= item.product.description %></p>
            </div>
          </div>
        </td>
        <td data-th="Price"><%= number_to_currency item.product.price, 
          unit: "VNĐ", separator: ".", delimiter: ",", precision: 0,
          format: "%n %u" %></td>
        <td data-th="Quantity">
          <%= form_for item, remote: true, method: :patch do |f| %>
            <%= f.number_field :quantity, value: item.quantity, 
              class: "form-control text-center" %>
          <% end %>
        </td>
        <td data-th="Subtotal" class="text-center">
          <%= number_to_currency total_price(item), unit: "VNĐ", separator: ".", 
            delimiter: ",", precision: 0, format: "%n %u" %>
        </td>
        <td class="actions" data-th="">
          <%= form_for item, remote: true, method: :patch do |f| %>
            <%= submit_tag "Refresh", class: "btn btn-info btn-sm" do %>
              <i class="fa fa-refresh"></i>
            <% end %>
          <% end %>
          <%= link_to item, class: "btn btn-danger btn-sm", 
          remote: true, method: :delete, 
          data: {confirm: t(".are")} do %>
            <i class="fa fa-remove"><%= t ".remove" %></i>
          <% end %>	
        </td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <%= link_to products_path, class: "btn btn-warning" do%>
            <i class="fa fa-angle-left"><%= t ".continue" %></i>
          <% end %>
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center">
          <strong><%= t ".totalc" %> 
          <%= number_to_currency total_price_cart(@cart.line_items),
            unit: "VNĐ", separator: ".", 
            delimiter: ",", precision: 0, format: "%n %u" %></strong>
        </td>
        <td>
          <%= link_to new_order_path, class: "btn btn-success btn-block" do %>
            <i class="fa fa-angle-right"><%= t ".checkout" %></i>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
