<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to t("layouts.application.title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static-pages.home.home"), root_path, 
          class: "glyphicon glyphicon-home" %></li>
        <li><%= link_to t("static-pages.news.news"), "#", class: "glyphicon glyphicon-new" %>
          </li>
        <li><%= link_to t("static-pages.products.products"), products_path, 
          class: "glyphicon glyphicon-modal-window" %></li>
        <% if logged_in? %>
          <% if current_user.is_admin %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-categories"></span>
                  <%= t "header.categories" %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% load_main_category.each do |main_category| %>  
                  <li>
                    <%= link_to main_category.name, 
                      category_path(main_category) %>
                  </li>
                  <li class="divider"></li>
                <% end %>
                <li>
                  <%= link_to new_category_path, 
                    class: "btn btn-info btn-sm" do %>
                    <i class="fa fa-add">
                      <%= t "header.create" %>
                    </i>
                  <% end %>
                </li>
              </ul>
            </li>
            <li><%= link_to t("header.order"), orders_path, 
              class: "glyphicon glyphicon-order" %></li>
            <li><%= link_to t("header.user"), users_path, 
              class: "glyphicon glyphicon-user" %></li>
          <% else %>
            <li><%= link_to t("header.suggest"), suggests_path, 
              class: "glyphicon glyphicon-folder-open" %></li>
            <li class="dropdown">
              <%= link_to t("header.cart"), cart_path(@cart), class:"glyphicon glyphicon-shopping-cart" %>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">  
              <li><%= link_to t("header.pro"), current_user %></li>
              <li><%= link_to t("header.setting"), 
                edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("header.logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to t(".login"), login_path, 
            class: "glyphicon glyphicon-user" %></li>
          <li><%= link_to t("signup.signup"), signup_path, class: "signup", 
            class: "glyphicon glyphicon-user" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
